<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <link rel="stylesheet" th:href="@{/main.css}"></link>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	 
   <div>Please logout after clicking this <a href="/logout">Logout</a></div>
	<div> This is the second page</div>
  
   <div>Books found for the author is : </div>
   
   
   <table>
   	<tr><th>Id</th><th>Reader</th><th>ISBN</th><th>Reader</th><th>Description</th></tr>
   <tr th:each="book : ${books}">
   		<td><span th:text="${book.id}"></span></td>
   		<td><span th:text="${book.reader}"></span></td>
   		<td><span th:text="${book.ISBN}"></span></td>
   		<td><a th:href="'http://amazon.com/gp/product/' + '/tag' + ${amazonId}" th:text="${book.name}"></a></td>
   		<td><span th:text="${book.description}"></span></td>
   </tr>
   </table>
</body>
</html>